* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #E4ECEF;
	height: 100%;
	width: 100%;
	border: 2px solid red;
	font-size: 16px;
	line-height: 22px;
}

.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

}
.main_title{
	line-height: 34px;
	font-size: 28px;
	font-weight: bold;
}



nav {
	width: 1140px;
	background-color: #fff;
	display: flex;
    flex-direction: row;
	z-index: 1000;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
    display: none;
	
}


ul {
	padding-left: 30px;
	padding-top: 60px;
}

 li {
    
	padding: 4px 0px;
    list-style:none;
	font-size: 16px;
	line-height: 22px;
}

/*square list type*/
li:before {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #C81E6E;
	border-radius: 0%;
	margin-right: 10px;
	margin-bottom: 1px ;
	
}


nav ul li a {
	font-family: Arial;
	font-weight: 300;
	color: #272727;
	text-transform: uppercase;
}

.p_inside{
	margin-left: 2.11%;
	margin-right: 5.96%;
}

#toggleMenu {
	width: 1140px;
	height: 48px;
	background-color: #C81E6E;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0px;
	left: 0px;
	z-index: 1050;
	cursor: pointer;
	border-radius: 2px;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
	
}

#toggleMenu .toggle-title {
height: 48px;
margin-left: 2.11%;
margin-right: 5.96%;
top: calc(50% - 48px/2 + 9.6px);
font-size: 24px;
line-height: 48px;
color: #FFFFFF;
}

#toggleMenu2 {
	width: 1140px;
	height: 48px;
	background-color: #86005F;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1050;
	cursor: pointer;
	border-radius: 2px;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
	
}

#toggleMenu2 .toggle-title {
height: 48px;
margin-left: 2.11%;
margin-right: 5.96%;
top: calc(50% - 48px/2 + 9.6px);
font-size: 24px;
line-height: 48px;
color: #FFFFFF;
}
#toggleMenu3 {
	width: 1140px;
	height: 48px;
	background-color: #005DA1;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1050;
	cursor: pointer;
	border-radius: 2px;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
}
#toggleMenu3 .toggle-title {
height: 48px;
margin-left: 2.11%;
margin-right: 5.96%;
top: calc(50% - 48px/2 + 9.6px);
font-size: 24px;
line-height: 48px;
color: #FFFFFF;
}

