* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #E4ECEF;
	height: 100%;
	width: 100%;
	font-size: 16px;
	line-height: 22px;
	color: #494C4F;
}

.container{
	
	display: flex;
	flex-direction: column;
	margin-left: 70px;
	margin-right: 70px;
	margin-bottom: 24px;

}
.main_title{
	line-height: 34px;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 23.8px;
	margin-top: 70px;
}

.toggle-title{
	font-weight: normal;
}




nav {
	/* width: 1770px; */
	width: 100%;
	background-color: #fff;
	display: flex;
    flex-direction: row;
	z-index: 1000;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
    display: none;
	
}




 li {
    
	padding: 4px 0px;
    list-style:none;
	font-size: 16px;
	line-height: 22px;
}

/*square list type*/
li:before {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #C81E6E;
	border-radius: 0%;
	margin-right: 10px;
	margin-bottom: 1px ;
	
}


nav ul li a {
	font-family: Arial;
	font-weight: 300;
	color: #272727;
	text-transform: uppercase;
}

.title_inside{
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 12.8px;
	margin-top: 23.2px;
}

.link_inside{
	text-decoration: none;
	color:#c81e6e;
}
.link_inside:hover{
	color: #005DA1;
}

.p_inside{
	margin-left: 2.11%;
	margin-right: 5.96%;
}

.p_inside p{
	
	margin-top: 25.4px;/*got dimension from using pixel preview from figma*/
	margin-bottom: 22.6px;
}



#toggleMenu {
	/* width: 1770px; */
	width: 100%;
	height: 48px;
	background-color: #C81E6E;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1050;
	cursor: pointer;
	border-radius: 2px;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
	display: flex;
	justify-content: space-between;
	
}

.triangle{
	width: 20px;
	height: 12px;
	margin-top: 18px;
	margin-bottom: 18px;
	margin-right: 24px;
	border-style: solid;
	border-width: 12px 10px 0 10px;
	border-color: #ffffff transparent transparent transparent;
}


 .toggle-title {
height: 48px;
margin-left: 2.11%;
margin-right: 5.96%;
/* top: calc(50% - 48px/2 + 9.6px); */
font-size: 24px;
line-height: 48px;



}

.triangele{
	font-size: 30px;
	z-index: 2000;
	color: black;
}

#toggleMenu2 {
	/* width: 1770px; */
	width: 100%;
	height: 48px;
	background-color: #86005F;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1050;
	cursor: pointer;
	border-radius: 2px;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
	
}

#toggleMenu2 .toggle-title {
height: 48px;
margin-left: 2.11%;
margin-right: 5.96%;
top: calc(50% - 48px/2 + 9.6px);
font-size: 24px;
line-height: 48px;
color: #FFFFFF;
}


#toggleMenu3 {
	/* width: 1770px; */
	width: 100%;
	height: 48px;
	background-color: #00A1CA;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1050;
	cursor: pointer;
	border-radius: 2px;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
	
}
#toggleMenu3 .toggle-title {
height: 48px;
margin-left: 2.11%;
margin-right: 5.96%;
top: calc(50% - 48px/2 + 9.6px);
font-size: 24px;
line-height: 48px;
color: #FFFFFF;
}

